* {
    box-sizing: border-box;      
}

body {
    margin: 0;
    font-family: sans-serif;
    background: #f5f6f7;
}

.header {
    text-align: center;
    text-transform: uppercase;
    padding: 32px;
    background-color: #0a0a23;
    color: #fff;
    border-bottom: 4px solid #fdb 347;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px; 
    gap: 16px: /* gap (shorthand) property and it's row-gap and column-gap */
}

.gallery img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover; /* if some pictures become distorted, object-fit determines how images should behave */     
    border-radius: 10px; 
}
/* The after pseudo-element creates an element that is the last child of the slected
 * element. */

.gallery::after {
    content: "";
    width: 350px; 
}
